@ide-header-height: 36px;

@ddkj-background: #07090d;
@ddkj-background-second: #11141c;
@ddkj-border-color: #1b1d25;
@ddkj-primary: #3B8EEA;

.ddkj-vite-tools-main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #161717;
  .ddkj-vite-tools-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: inset 0px 0px 2px 0px #1d1d1d;
    transform-origin: 50% 50%;
  }
}